.landing-page_presentation {
    position: relative;

    height: 500px;

    background-image: url(../../assets/images/background-homepage.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.landing-page_presentation::before {
    content: "";

    position: absolute;
    z-index: 7;

    width: 100%;
    height: 100%;
    background: linear-gradient(to left, transparent 10%, rgb(255, 255, 255, 0.7));
}

@media screen and (min-width: 1600px) {
    .landing-page_presentation {
        height: 700px;
    }
}

.box {
    position: absolute;
    z-index: 8;

    right: -35%;
    height: 750px;
    width: 900px;

    background-color: #6f7edb;
    border-radius: 20px;
    transform: rotate(45deg);
}

@media screen and (min-width: 1600px) {
    .box {
        right: -15%;
        height: 750px;
        width: 900px;
    }
}

.title_container {
    z-index: 999;
    display: grid;
}

.title-button {
    width: 200px;
    height: 40px;

    align-self: flex-end;
    border-radius: 10px;
    border: 0;
    margin-top: 20px;

    color: #fff;
    font-weight: 600;
    font-size: 16px;
    background-color: #323c80;

    cursor: pointer;
    margin-left: 500px;
}

.title {
    font-size: 60px;
    font-weight: 700;
    line-height: 50px;
    margin-left: 500px;
    color: #323c80;
}

.landing-page_system-info {
    height: 400px;
    display: flex;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;

    margin-left: 25%;
    margin-right: 25%;
}

.static-info-box {
    height: 220px;
    width: 240px;
    
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 9px 49px -17px rgb(0 0 0 / 30%);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    grid-gap: 10px;

    padding: 20px;
}

.static-info-title {
    font-size: 18px;
    font-weight: 700;
}

.lading-page_school-info {
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
    padding-bottom: 100px;
    grid-gap: 40px;
}

.image-school {
    background-image: url('../../assets/images/2998135-backpack-rucksack-schoolbag-travel_99866.svg');
    background-size: cover;
    height: 400px;
    width: 400px;
}

.school-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}