.management-header {
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid rgb(218, 224, 227);
    box-shadow: 2px 9px 49px -17px rgb(0 0 0 / 10%);
    display: grid;
    grid-template-columns: 400px auto auto auto;
    align-items: center;
}

.logo {
    background-image: url('../../../assets/images/logo-empresa.png');
    background-position: center;
    background-size: cover;
    height: 72px;
    width: 95px;
    margin-left: 10px;
}

.search-input {
    height: 30px;
    width: 400px;
    border-radius: 20px;
    border: 1px solid rgb(225, 229, 231);
    font-size: 14px;
    font-weight: 600;
    color: #3b3663;
    padding: 5px;
    padding-left: 20px;
}

.welcome-content {
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgb(225, 229, 231);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    margin-right: 20px;
}

#management-page {
    display: grid;
    grid-template-columns: 220px auto;
}

hr {
    width: 60%;
    border: none;
    border-top: 0.2px solid rgb(225, 229, 231);

    margin-top: 30px;
    margin-bottom: 30px;
}

.actions-container {
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
}

.navbar-header {
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    align-items: center;
}

.user-logo {
    height: 40px;
    width: 40px;
    background-color: rgb(238, 242, 244);
    border-radius: 50%;
    margin-right: 10px;

    background-image: url('/src//assets/icons/user.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

.user-name {
    margin-right: 50px;
    font-weight: 600;
}

.user-infos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    font-size: 14px;
    font-weight: 600;
    justify-self: flex-end;
}

.management-page_navbar {
    background-color: white;
}

.navbar-item_logo {
    height: 40px;
    width: 40px;
    background-color: rgb(238, 242, 244);
    border-radius: 50%;
    margin-right: 10px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

.products {
    background-image: url('/src//assets/icons/box.png');
}

.responsibles {
    background-image: url('/src//assets/icons/couple.png');
}

.students {
    background-image: url('/src//assets/icons/graduated.png');
}

.cart {
    background-image: url('/src//assets/icons/cart.png');
}

.extrato {
    background-image: url('/src//assets/icons/statement.png');
    
}

.deposit {
    background-image: url('/src//assets/icons/deposits.png');
}

.navbar-item {
    padding: 20px;
    display: flex;
    align-items: center;
}

.navbar-item:hover {
    background-color: rgb(236, 240, 242);
}

.management-page_navbar a {
    text-decoration: none;
}


.management-page_main {
    padding: 30px;
}