#management-page {
    display: grid;
    grid-template-columns: 300px auto;
}

.management-page_navbar {
    background-color: white;
}

.management-page_navbar ul {
    list-style-type: none;
}

.management-page_navbar li {
    margin-bottom: 20px;
}

.management-page_main {
    padding: 30px;
}