#update-product-page {
    display: grid;
    justify-content: center;
    align-items: center;
    
    padding: 100px;
}

.update-product-page_section {
    width: 400px;
    display: grid;
    grid-gap: 50px;
    grid-template-rows: auto 1fr auto;
    padding: 50px;
    
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 2px 9px 49px -17px rgb(0 0 0 / 10%)
}

.update-product-page_section-title {
    font-size: 25px;
    font-weight: 700;
    color: #3b3663;
}

.update-product-page_section-subtitle {
    font-size: 14px;
    font-weight: 700;
    color: #3b3663;
}

.update-product-page_section-form {
    display: grid;
    grid-gap: 10px;
}

.update-product-page_section-form input {
    height: 40px;
    border: 0;
    border-bottom: 1px solid rgb(194, 186, 186);

    font-size: 16px;
    font-weight: 600;
    color: #3b3663;
}

.update-product-page_section-form input:focus, textarea:focus {
    outline: none;
}

.update-product-page_section-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    align-items: center;
    justify-content: center;
}

.update-product-page_section-footer hr {
    width: 70%;
    padding-right: -100px;

    border: 0;
    border-top: 0.1px solid rgb(194, 186, 186);
}

.update-product-page_section-footer button {
    width: 100%;
    height: 40px;

    border-radius: 10px;
    border: 0;

    color: #fff;
    font-weight: 600;
    font-size: 16px;
    background-color: #9146ff;
}

.update-product-page_section-footer a {
    text-decoration: none;
}

.update-product-page_section-footer-sign-up-text {
    font-size: 14px;
}