.create-responsible-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.create-responsible-button {
    height: 40px;
    width: 150px;
    
    border: none;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 9px 49px -17px rgb(0 0 0 / 40%);

    color: #9146ff;
    font-size: 15px;
    font-weight: 700;

    cursor: pointer;
}

.create-responsible-button:hover {
    background-color: #9146ff;
    color: white;
}   

.responsiblesList {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}

.list-header {
    display: grid;
    grid-template-columns: repeat(6, 1fr) !important;
    width: 100%;
    padding: 15px;
    font-weight: 600;
    color: #3b3663;
}