.create-product-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.period {
    height: 250px !important;
}

.period-label {
    margin-top: 15px;
    margin-bottom: 5px;
}

.create-product-button {

    height: 40px;
    width: 150px;
    
    border: none;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 9px 49px -17px rgb(0 0 0 / 40%);

    color: #9146ff;
    font-size: 15px;
    font-weight: 700;

    cursor: pointer;
}

.create-product-button:hover {
    background-color: #9146ff;
    color: white;
}   

.statement {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}

.statement-header{
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.5fr 0.5fr;
    width: 100%;
    padding: 15px;
    font-weight: 600;
    color: #3b3663;
}

.choose-period-inputs-container {
    margin-bottom: 10px;
    display: grid;
}