.create-student-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.create-student-button {
    margin-right: 10px;
    margin-bottom: 30px;

    height: 40px;
    width: 150px;
    
    border: none;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 9px 49px -17px rgb(0 0 0 / 40%);

    color: #9146ff;
    font-size: 15px;
    font-weight: 700;

    cursor: pointer;
}

.create-student-button:hover {
    background-color: #9146ff;
    color: white;
}

.studentsList {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}

.list-header-students {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 1.8fr 1.5fr  repeat(2, 1fr);
    width: 100%;
    padding: 15px;
    font-weight: 600;
    color: #3b3663;
}